@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background: black;
}

p {
    font-size: 20px;
    color: #fff;
    top: 8%;
    left: 4%;
    position: absolute;
}

.flipbook {
    width: 1200px;
    height: 337px;
}

.flipbook .hard-cover {
    background: url(images/1.png) !important;
    color: #fff;
    font-weight: bold;
    border: none; 
}

.flipbook .hard {
    background: linear-gradient(to bottom, #0b0b2a, #00134d, #192430) !important;
    color: #fff;
    font-weight: bold;
    border: none; 
}

.flipbook .hard small{
	font-family: Futura, sans-serif;
    text-align: center;
    font-style: italic;
	font-weight: bold;
	font-size: 14px;
    line-height: 2;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 70%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}